@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .lng_hover {
    @apply hover:bg-slate-300 hover:text-black hover:rounded-lg transition-colors duration-200;
  }
  .lng_show {
    @apply scale-100 transition-all opacity-100;
  }
  .lng_hide {
    @apply scale-0 transition-all opacity-0;
  }
  .aj-sidebar-show {
    @apply translate-x-0 transition-all duration-300;
  }
  .aj-sidebar-hide {
    @apply translate-x-[270px] w-0 transition-all duration-300;
  }
}

@font-face {
  font-family: "IRANYekan";
  src: url("/fonts/iranyekan/woff2/IRANYekanWebRegular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IRANYekan";
  src: url("/fonts/iranyekan/woff2/IRANYekanWebBold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "IRANYekan";
  src: url("/fonts/iranyekan/woff2/IRANYekanWebLight.woff2");
  font-weight: 300;
  font-style: normal;
}

.aj-error {
  color: red;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #fff;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -24px 0 #7480ff, 24px 0 #fff;
  }
  66% {
    background: #7480ff;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 #7480ff;
  }
}
